.roundList {
  list-style: none;
  padding: 0;
}

.roundVisibleToggle {
  font-size: 1.1rem;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.roundVisibleToggle:focus {
  outline: 3px solid var(--highlight-color);
  outline-offset: 3px;
}

.roundActionList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 1rem 0;
  justify-content: flex-start;
  align-items: flex-start;
}
.roundActionList li {
  flex-grow: 0;
  max-width: 8rem;
  min-width: 8rem;
}
.action {
  position: relative;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background: none;
}

.action:focus {
  z-index: 1;
  outline: 3px solid var(--highlight-color);
  outline-offset: 3px;
}
.actionImage,
.actionIcon {
  display: block;
  background-size: cover;
  width: 4rem;
  height: 4rem;
  border: 3px solid var(--main-background-color);
}
.actionIcon {
  font-size: 3.2rem;
  box-shadow: 0 0 0 1px inset var(--main-color-light);
}
.action:disabled .actionImage {
  filter: grayscale(100%);
}
.action:disabled {
  cursor: default;
}
.action:disabled.actionSelected .actionImage {
  filter: none;
}

.actionSelected .actionImage {
  border-color: var(--primary-background-color);
}

.overlayWrap {
  position: absolute;
  height: 0;
  left: 0;
  width: 100%;
  overflow: visible;
}
.overlay {
  position: relative;
  box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.4);
  z-index: 10;
  padding: 0.1rem 1rem 1rem;
  margin-top: 2rem;
  background-color: var(--main-background-color);
}

@media screen and (min-width: 600px) {
  .overlay {
    width: calc(50% - 1rem);
    margin-left: calc(50% - 1rem);
  }
}
