.number {
  font-weight: normal;
  color: var(--main-color-light);
  margin-bottom: 0;
}
.title {
  margin-top: 0.2rem;
}
.description {
  margin-bottom: 2rem;
}

.center {
  text-align: center;
}

.rows {
  display: flex;
  flex-wrap: wrap;
}

.row {
  min-width: 100%;
}

@media screen and (min-width: 600px) {
  .row {
    min-width: 50%;
    max-width: 50%;
  }
}
