.roundHeading {
  font-weight: normal;
  color: var(--main-color-light);
  margin-bottom: 0;
}

.description *:first-child {
  margin-top: 0.2rem;
}
.description {
  margin-bottom: 2rem;
}

.center {
  text-align: center;
}
